.App {
  text-align: center;
}

#navigation {
  position: fixed;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 100;
}

#navigation a {
  text-decoration: none;
  padding: 10px;
  color: #3b5163;
}

#navigation h1 {
  color: #3b5163;
  font-size: 40px;
}
